body{
   background-color: rgb(138, 137, 137);
}
.container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    
  }
 .left-side{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 4px;
    height:190px;
    
 } 
 .right-side{
    display: flex;
    flex-direction: column;
    width: 40%;
   
    
 }
 .internship-company{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
 }
 #company-name{
    width: 160px;
    border-color: rgb(212, 221, 221);
    border-radius: 15px;
    
 }
 .fortranscript{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
 }
 textarea {
    width: 90%;
    height: 100px;
  }
  #request-button{
    margin-left: 550px;
    background-color: rgb(112, 112, 228);
    color: white;
  }
   .all{
   background-color: white;
      
   }
   