
body{

}

.container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 5px;
   margin-top: 50px;
}
.card{
width: 100%;
margin: 10px 0;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);

}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contactpurpose{
    width: 200px;
    background-color:rgba(128, 128, 128, 0.247);
}
.card-footer {
    height: 100px;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden ;
    background-color: white !important;
   
}
.card-footer li{
    padding: 1px 10px;
    }

    
.footer_items{
display: flex;
list-style: none;
padding: 0;
margin: 0;
}
#details{
    text-align: start;
    margin: 0 0 0 6px;
}


 div a{
    text-decoration: none;
    color:black;
}
div a:hover{
    color: inherit;
}
