


body{
  
   text-align: center;
}


/* .navbar {
    background-color: #1a5e8b; 
    height: 60px;
  
}
.navbar-brand a{
    color: white;
    text-decoration: none;
}
#navlinks{
    position: absolute;
    right: 915px;
    top: 10px;
    
}
#navlinks a{
    font-size: 16px;
}
#button li{
    border-left: 1px solid white;
    padding: 5px;
    font-size: 16px;
}





#search{
width: 300px;
position: absolute;
right:480px;

} */





.card-footer {
    height: 100px;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden ;
    background-color: white !important;
    border-radius: 15px;
}

/* I may change the color*/
.card-footer ul{
    background-color:white;
}


.footer_itmes {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}
.card-footer li{
padding: 1px 10px;
}


#d{
text-align: start;
margin: 0 0 0 6px;


}



#return{
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 2px;
    margin: 0 auto;
    border-bottom: 4px solid black;
    margin-top: -30px;
}
#contactpurpose{
    background-color: rgba(0, 0, 0, 0.692);
   /* background-color:rgba(128, 128, 128, 0.247);*/
    color: white;
}

.show{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    gap: 15px;
    transition: transform 0.3s ease-in-out;
 
   
}
.show a{
    text-decoration: none;
    color: black;
}
.show a:hover{
    color: inherit;
    transform: scale(1.05); /* Scale up the card by 5% on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.card{
    width: 100%;

}

#btn{
    width: 200px;
    margin-top: 15px;
    background-color:rgba(128, 128, 128, 0.247);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#btn:hover{
    transform: none;
}
/* in case I want it to be with box_shadow */
.box_shadow{
 width: 95%;
 height: auto;
 position: relative;
    top: 40%;
    left: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    margin-top: 40px;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#1a5e8b; 
    color: #fff; 
    padding: 10px; 
    padding-left: 100px;
    margin-top: 60px;
  
}
.one{
width: 33%;
text-align: start;


}
.twoo{
    width: 33%;
    text-align: start;
    padding-left: 160px;
  
}
.three{
    width: 33%;
    text-align: start;
    padding-left: 140px;
  
}
.three img{
    width: 160px;
    padding: 0;
    margin: -20px;
   }
#ca{
    border-radius: 15px;
}

#brief{
    width: 420px;
    font-size: 50px;
    position: absolute;
    top: 210px;
    left: 160px;
    color:  #1a5e8b;
}
#words{
    position: absolute;
    top: 330px;
    left: 260px;
}


#button.navbar-nav li.navbar-brand a:hover {
    text-decoration: none; 
    color: inherit;  
    background-color: transparent;

}





























@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}




