body{
    display: block ;
    justify-content: center ;
    align-items: center ;

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
form{
    width: 28%;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
#loginbox{
    padding: 50px;
}


input{
    display: block;
    font-size: 20px;
    border: none;
    border-bottom:1px solid black ;
    box-shadow: none;
    outline: none;
}



p a{
    text-decoration: none;
    color: red;
}
button{
    
    background-color: #1a5e8b !important;
    color: white !important;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#1a5e8b; 
    color: #fff; 
    padding: 10px; 
    padding-left: 100px;
    margin-top: 60px;
  
}
.one{
width: 33%;
text-align: start;


}
.twoo{
    width: 33%;
    text-align: start;
    padding-left: 160px;
  
}
.three{
    width: 33%;
    text-align: start;
    padding-left: 140px;
  
}
.three img{
    width: 160px;
    padding: 0;
    margin: -20px;
   }


